.container {
   display: flex;
   justify-content: center;
   align-items: center;
}
.modal-overlay {
   display: flex;
   justify-content: center;
   background-color: rgba(18, 18, 20, 0.5);
   width: 100%;
   height: 100%;
   position: fixed;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
}
.modal-content {
   background-color: #ffffff;
   border: transparent;
   margin-top: 12%;
   width: 90%;
   max-width: 500px;
   max-height: 250px;
   border-radius: var(--radius-2);
}
.divModalHeader {
   background-color: var(--primary);
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   width: 100%;
   max-width: 500px;
   height: 55px;
   color: var(--white);
   border-radius: var(--radius-2) var(--radius-2) 0 0;
}
.buttonCloseModal {
   color: var(--white);
   font-weight: var(--weigth5);
   font-size: var(--font-size5);
}
.containerCards {
   background-color: var(--white);
   overflow: auto;
}
.total{
   background-color: var(--white);
   height: 80px;
   width: 100%;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   border-top: 1px solid var(--gray-300);
}
